# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
- package-ecosystem: "npm"
  directory: "/ukelonn.web.frontend/src/main/frontend/"
  schedule:
    interval: "daily"
  target-branch: "using-react"
  groups:
    react-updates:
      applies-to: version-updates
      patterns:
        - "react"
        - "react-dom"
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: daily
  target-branch: "using-react"
  ignore:
    # ignore Maven APIs/SPIs
    - dependency-name: org.apache.maven:*
